.postCard {
  background: #c1bfbf;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postCard__title {
  text-align: center;
}

.postCard__body {
  margin: 20px 0px;
  flex: 1;
}

.postCard__textarea {
  resize: none;
  width: 100%;
  padding: 5px;
}

.ul {
  list-style: circle;
  margin-left: 20px;
}

.ul > li {
  border-bottom: 1px solid;
  margin: 10px 0px;
}

.postCard__btn {
  margin: 10px 0px;
}